@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    background-color: gray;
}

.default-form {
    @apply flex flex-col gap-4;

    input {
        padding: 2px 4px;
    }

    button {
        border: solid 2px black;
    }
}
