@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Inter";
}

textarea,
input {
    color: black;
    padding: 12px;
    border-radius: 12px;
}
